
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
   <a class="navbar-brand" href="/">B-Way</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">Hakkımızda</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/article">Makaleler</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/register">Kayıt Olun</a>
          </li>
          {% if session["logged_in"] %}
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Kontrol Paneli</a>
          </li>    

          <li class="nav-item active">
            <a class="nav-link" href="/logout">Çıkış</a>
          </li>          
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/login">Giriş yapın</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="/account">Hesap Yaratın</a>
          </li>
          {% endif %}
        </ul>
      </div>
</nav>

